* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}

.header_main {
  background-color: red;
  height: 100vh;
}
.bl {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  top: 40%;
  left: 40%;
}

.section_burger {
  background-color: #ffd553;
  font-family: "Nerko One", cursive;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 0;
}
.section_burger h1 {
  font-size: 60px;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
}

.section_burger img.burger:nth-of-type(1) {
  position: absolute;
  top: 40%;
  left: 50%;
  opacity: 0.6;
  transform: rotate(10deg);
  width: 400px;
  height: 400px;
}
.section_burger img.burger:nth-of-type(2) {
  position: absolute;
  top: 20%;
  left: 20%;
  opacity: 0.6;
  transform: rotate(-10deg);
  width: 400px;
  height: 400px;
}

.section_burger__czlowiek {
  position: relative;
  z-index: 1;
  height: 600px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section_burger__czlowiek img {
  height: 100%;
}

.section_burger__text {
  position: relative;
  z-index: 1;
  width: 60%;
  /* height: 600px; */
  font-size: 30px;
  transition: 0.3s;
  padding: 40px 10px;
  border-radius: 20px;
}
.section_burger__text:hover {
  opacity: 0.9;
  background-color: #ffc332;
  cursor: pointer;
}
.section_burger__menu {
  background-color: #ffc332;
  padding: 30px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  width: 30%;
  height: 500px;
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.section_burger__menu h2 {
  font-size: 35px;
}
.section_burger__menu p {
  font-size: 20px;
}
.section_burger__menu input {
  display: block;
  background-color: #c49527;
  font-family: "Nerko One", cursive;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 45px;
  border-radius: 10px;
  border: 3px solid black;
  text-align: center;
  font-size: 30px;
}
.section_burger__menu button {
  display: block;
  font-family: "Nerko One", cursive;
  background-color: #c49527;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 45px;
  border-radius: 10px;
  border: 3px solid black;
  font-size: 20px;
}

.section_lod {
  height: 100vh;
  background-color: blue;
  display: flex;
  background-image: url("../img/Bez\ tytułu.png");
  opacity: 0.9;
  background-position: center;
  background-size: cover;
}

.section_lod__text {
  width: 40%;
  background-color: white;
  border-radius: 0 20px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 30px;
}
.section_lod__obrazy {
  width: 60%;
  position: relative;
}

.section_lod__text h2 {
  font-size: 38px;
  margin-top: 60px;
}
.section_lod__text p {
  font-size: 25px;
  margin-top: 20px;
  padding-right: 90px;
}
